{% extends "base.html" %}
{% load edit_link %}

{% block title %}Requests log{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script>
$(document).ready(function() { 
  $('button.priority').click(function() {
    window.location ='/requests/priority/' + $('#go_priority').val();
  });
});  
</script>
<style type="text/css">
   p#no_requests {color: #8A8A8A; text-decoration:italics; text-align:center;}
</style>
{% endblock %}

{% block content %}
    {% if priority %}
        <h3>Priority: {{ priority }}</h3>
    {% endif %}
    <table width="100%">
    <tr>
    <td>
    <a href="{% url request_log %}?sorting=asc" title="Ascending order"><span style="font-size:120%">&uarr;</span><span style="font-size:140%">&uarr;</span><span style="font-size:160%">&uarr;</span></a>
    <a href="{% url request_log %}?sorting=desc" title="Descending order"><span style="font-size:160%">&darr;</span><span style="font-size:140%">&darr;</span><span style="font-size:120%">&darr;</span></a>
    </td>
    <td>
        <p align="right"><label for="go_priority">Go to priority:</label> <input id="go_priority" type="text" name="go_priority" value="1" />
        <button class="priority">Go</button></p>
    </td>
    </tr>
    </table>
    {% if entries_list %}
        <ol>
        {% for entry in entries_list %}
            <li> {{ entry }} <sup><i><a href="{% edit_link entry %}">Edit info [admin]</a></i></sup>
                 <b><a href="{% url priority_down_request_log entry.id %}">-</a>
                    <a href="{% url priority_up_request_log entry.id %}">+</a>
                 </b>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p id="no_requests">Sorry, no requests in log with such priority</p>
    {% endif %}
{% endblock %}

