<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}Main page{% endblock %}</title>
    <STYLE type="text/css">
       ul.errorlist {color: #ff0000; text-decoration:underline;}
    </STYLE>
</head>
<body>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/contacts_edit">Edit contacts page</a></li>
    </ul>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    <p>
        {% for key,value in settings.items %}
            <p style='font-size:0.7em'><b>{{ key }}: </b>{{ value }}</p>
        {% endfor %}
    </p>
</body>
</html>

