<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load edit_link %}
<html>
<head>
    <style type="text/css">
       ul.errorlist {color: #ff0000; text-decoration:underline;}
       .success_output {color: #225422; background-color: #66ff66;}
    </style>
    <title>{% block title %}Main page{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/contacts_edit">Edit contacts page</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% edit_link user %}">Edit users profile [admin]</a></li>
        {% endif %}
    </ul>
    <hr>
    {% block content %}{% endblock %}
    <hr>
     <b>DEBUG MODE:</b> {{ settings.DEBUG }}
</body>
</html>
