<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <style type="text/css">
       ul.errorlist {color: #ff0000; text-decoration:underline;}
    </style>
    <title>{% block title %}Main page{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/contacts_edit">Edit contacts page</a></li>
    </ul>
    <hr>
    {% block content %}{% endblock %}
    <hr>
     <b>DEBUG MODE:</b> {{ settings.DEBUG }}
</body>
</html>
